<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - net8store</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/net8store.styles.css" asp-append-version="true" />
    <script src="~/js/bundle.js" - asp-append-version="true"></script>

    <environment include="Development">
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    </environment>
</head>

<body>
    <header class="sticky top-0 w-full mb-7">
        <nav class="bg-white bg-opacity-80 backdrop-blur-sm p-4 border border-b flex list-none gap-x-4 items-center">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img style="padding-top: 1px; height: 23px" src="~/logo.svg" alt="SpeedyCars">
            </a>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Главная</a>
            </li>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border border-t p-3">
        &copy; 1998-2024. SpeedyCars -
        <a class="text-blue-500" asp-area="" asp-page="/Privacy">
            Политика в отношении обработки персональных данных
        </a>
    </footer>
</body>
</html>