<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpeedyCars</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/splide.min.css" asp-asp-append-version="true" />
    <link rel="stylesheet" href="~/css/net8store.styles.css" asp-append-version="true" />
    <script src="~/js/bundle.js" - asp-append-version="true"></script>

    <environment include="Development">
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        width: {
                            content: "min(84.375%, 1216px)"
                        }
                    }
                }
            }
        </script>
    </environment>
</head>

<body>
    <header class="z-10 bg-white bg-opacity-90 backdrop-blur-sm sticky border-b top-0 mb-7">
        <nav class="mx-auto h-12 w-content flex list-none gap-x-4 items-center">
            <a class="navbar-brand" href="/">
                <img style="padding-top: 1px; height: 23px" src="~/logo.svg" alt="SpeedyCars">
            </a>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Главная</a>
            </li>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t p-3 w-content mx-auto mt-6">
        &copy; 1998-2024. SpeedyCars
        <br>
        <a class="text-blue-500" asp-area="" asp-page="/Privacy">
            Политика в отношении обработки персональных данных
        </a>
    </footer>
</body>

</html>