@page
@using net8store.Core.Enums
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}


<section class="w-content mx-auto">
    <h1 class="text-3xl pb-6">
        Спорткары на любой вкус
        @(String.Join(", ", Model.carsImages))
    </h1>
</section>
@if (Model.carsImages.Length != 0) {
    <section class="splide mb-3" aria-label="Cars">
        <div class="splide__track h-[max(330px,40vh)] w-content mx-auto">
            <ul class="splide__list">
                @foreach (var carImage in Model.carsImages)
                {
                    <li class="splide__slide">
                        <img src="@carImage"  />
                    </li>
                }
            </ul>
        </div>
    </section>
}

<div class="grid w-content mx-auto grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (int i = 0; i < 10; i++)
    {
        @: <product-card id="@i" description="lala" cost="10 руб." title = "Some title Some title Some title Some title Some title Some title Some title Some title" imageurl = "https://moscowteslaclub.ru/upload/uf/216/kmp8jg0mzfrppzlv69t8pfxurbh7ut3o.jpg" enginekind="@((int)EngineKinds.Gas)"></product-card>
    }
</div>

<div class="flex justify-center">
    <lit-paginator class="mt-8" total="10"></lit-paginator>
</div>
